{% extends 'templates/app.twig' %}


{% block content %}

<h1>Login</h1>

<form action="{{ url_for('loginPage') }}" method="post">
	<div class="mb-3">
		<label for="exampleInputUsername1" class="form-label">Email</label>
		<input type="text" name="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" value="{{ old.username }}">
		<div id="usernameHelp" class="form-text">Nunca compartilharemos seu nome de usuário ou e-mail com mais ninguém.</div>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Senha</label>
		<input type="password" class="form-control" name="password" id="exampleInputPassword1" value="{{ old.password }}">
	</div>
	<div class="mb-3 form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1">
		<label class="form-check-label" for="exampleCheck1">Lembrar de mim</label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

	{{ csrf.field | raw }}
</form>

{% endblock %}